<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
                socket.emit('join_room', {path: window.location.pathname});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });
            socket.on('edit_main_response', function(msg) {
                //alert(msg.data);
                //var dec = new TextDecoder();
                //data = dec.decode(msg.data);
                $('#main_edit_data').val(msg.data);
            });



            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways

            $('form#main_edit').submit(function(event) {
                socket.emit('edit_main', {data: $('#main_edit_data').val()});
                return false;
            });

            function on_main_edit_change(){
                socket.emit('edit_main', {data: $('#main_edit_data').val(), path: window.location.pathname});
                return false;
            }

            $('#main_edit_data').on('change', on_main_edit_change);

        });
    </script>
</head>
<body>
    <h1>Simple co-editing using socket</h1>
    <h2>Sharing:</h2>

    <form id="main_edit" method="POST"  action='#'>
      Name:
      <input type="submit">
    </form>
    <br>
    <textarea id="main_edit_data" rows="20" cols="50" name="share" form="main_edit"
              onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+ '     '+v.substring(e);this.selectionStart=this.selectionEnd=s+4;return false;}"></textarea>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
